*{margin:0;padding:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow-y:scroll;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section{display:block;}
ol,
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;vertical-align:middle;}
caption,
th,
td{font-weight:normal;text-align:left;vertical-align:middle;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:"";}
blockquote,
q{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;quotes:none;}
a:focus{outline:2px solid #c1c1c1;outline:2px solid rgba(51, 51, 51, 0.3);}
a:hover,
a:active{outline:0;}
a img{border:0;}
dfn,
cite,
em,
i{font-style:italic;}
img{border:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
sup{font-size:.7em;vertical-align:top;}
sub{font-size:.7em;vertical-align:bottom;}
small{font-size:10px;}
strong,dfn,dl dt,th{font-weight:bold;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
select,input,textarea{padding:0;margin:0;outline:0;font-size:100%;vertical-align:baseline;}
button, input[type=submit]{padding:0;margin:0;outline:0;font-size:100%;vertical-align:baseline;-webkit-appearance:none;}
a{text-decoration:underline;color:#545454;}
a:hover{text-decoration:none;color:#545454;}
body{font:15px/1.3em 'Open Sans', sans-serif;color:#000000;}
#container{position:relative;width:100%;min-width:1000px;}
.wclosearea{padding:5px 0;background:#e63f3f;box-shadow:0 0 5px #000;}
.wclosearea_ins{width:960px;margin:0 auto;min-height:20px;position:relative;}
.wclosearea_hide{position:absolute;float:none;top:0;right:0;width:20px;height:20px;cursor:pointer;background:url(/images/wclose.png) no-repeat center center;}
.wclosearea_text{padding:2px 30px 0 30px;background:url(/images/warning.png) no-repeat 0 2px;color:#fff;font:bold 13px Arial;text-shadow:1px 1px 1px #b83232;}
.wclosearea_text a{color:#fff;font:bold 13px Arial;text-decoration:underline;}
.wclosearea_text a:hover{text-decoration:none;}
input[type=text],input[type=email],input[type=password]{border:1px solid #f0f5f3;background:#f0f5f3;border-radius:3px;height:38px;padding:0 15px;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#545454;font:13px/38px 'Open Sans', sans-serif;}
input[type=text].error,input[type=email].error,input[type=password].error{border:1px solid #e46066;}
input[type=text]:disabled,input[type=email]:disabled,input[type=password]:disabled{border:1px solid #858c97;background:#858c97;color:#fff;}
textarea{border:1px solid #f0f5f3;background:#f0f5f3;border-radius:3px;width:100%;max-width:100%;min-width:100%;height:100px;min-height:100px;padding:15px;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#545454;font:13px 'Open Sans', sans-serif;}
select{border:1px solid #f0f5f3;background:#fff;border-radius:3px;height:38px;width:300px;padding:0 15px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#545454;font:13px 'Open Sans', sans-serif;}
input[type=submit]{border:1px solid #00c063;background:#00c063;border-radius:3px;height:38px;padding:0 25px;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;font:600 13px/38px 'Open Sans', sans-serif;cursor:pointer;text-transform:uppercase;}
input[type=submit]:hover{background:#02944d;border:1px solid #02944d;text-decoration:none;}
input[type=submit]:disabled{background:#ccc;border:1px solid #ccc;cursor:default;}
.topbar_wrap{width:100%;min-width:1000px;position:relative;z-index:100;height:48px;}
.topbar_ins{width:100%;min-width:1000px;position:absolute;float:none;top:0;left:0;z-index:100;height:48px;background:#252927;}
.topbar{width:960px;margin:0 auto;height:48px;}
.topbar_icq{float:left;margin:0 40px 0 0px;font:13px/48px 'Open Sans', sans-serif;color:#fff;padding:0 0 0 35px;background:url(/images/icq.png) no-repeat 0 center;height:48px;}
.topbar_skype{float:left;margin:0 40px 0 0px;font:13px/48px 'Open Sans', sans-serif;color:#fff;padding:0 0 0 35px;background:url(/images/skype.png) no-repeat 0 center;height:48px;}
.topbar_email{float:left;margin:0 40px 0 0px;font:13px/48px 'Open Sans', sans-serif;color:#fff;padding:0 0 0 35px;background:url(/images/email.png) no-repeat 0 center;height:48px;}
.topbar_icq a, .topbar_skype a, .topbar_email a{font:italic 13px/48px 'Open Sans', sans-serif;color:#fff;text-decoration:none;}
.topbar_icq a:hover, .topbar_skype a:hover, .topbar_email a:hover{text-decoration:underline;}
.topbar_phone{float:left;margin:0 0px 0 20px;font:14px/48px 'Open Sans', sans-serif;color:#fff;height:48px;}
.topbar_phone span{margin:0 20px 0 7px;display:inline-block;}
.topbar_phone img{vertical-align:middle;}
.topbar_phone a{color:#fff;text-decoration:none;}
a.toplink{float:right;margin:0 0px 0 30px;height:48px;font:italic 13px/48px 'Open Sans', sans-serif;color:#fff;text-decoration:none;}
a.userlogin{float:right;margin:0 0px 0 30px;height:48px;font:italic 13px/48px 'Open Sans', sans-serif;color:#34d386;background:url(/images/user_login.png) no-repeat 0 center;padding:0 0 0 20px;text-decoration:none;}
.tophead_wrap{width:100%;min-width:1000px;position:relative;z-index:90;height:100px;}
.tophead_ins{width:100%;min-width:1000px;position:absolute;float:none;top:0;left:0;z-index:100;height:100px;background:#fff;}
.tophead{width:1000px;margin:0 auto;height:100px;}
.logoblock{float:left;width:320px;}
.logoblock_ins{width:320px;height:95px;display:table-cell;vertical-align:middle;color:#00c063;font:bold 36px 'Open Sans', sans-serif;}
.logoblock_ins img{max-width:320px;max-height:100px;position:relative;top:7px;}
.logoblock_ins a{text-decoration:none;color:#00c063;}
.topmenu{float:left;width:670px;height:95px;padding:5px 0 0 0;}
.topmenu ul{float:right;}
.topmenu li{float:left;position:relative;height:95px;padding:0;margin:0;}
.topmenu li a{float:left;height:95px;font:700 14px/95px 'Open Sans',serif;text-transform:uppercase;background:none;color:#2a2a2a;padding:0 7px;text-decoration:none;}
.topmenu li:hover > a, .topmenu li.current-menu-item > a{color:#00c063;text-decoration:none;}
.topmenu ul ul{position:absolute;float:none;display:none;top:94px;left:0px;background:#ffffff;padding:0px;height:auto;width:235px;box-shadow:0 2px 4px #c4c2c2;margin:0;}
.topmenu ul ul li{float:none;display:block;position:relative;height:auto;width:235px;margin:0;}
.topmenu ul ul li > a, .topmenu ul ul li.current-menu-item > a{float:none;display:block;height:auto;padding:8px 30px 8px 30px;font:600 13px 'Open Sans',serif;background:none;color:#545454;text-decoration:none;text-transform:none;}
.topmenu ul ul li:hover > a{color:#545454;text-decoration:none;background:#eaf2ee;height:auto;border-bottom:none;}
.topmenu ul ul ul{position:absolute;display:none;float:none;top:0px;left:235px;height:auto;}
.tolbar_lang{display:none;float:left;height:48px;margin:0 40px 0 0;}
.langlist_div{position:relative;height:48px;cursor:pointer;}
.langlist_title{height:48px;font:13px/48px 'Open Sans', sans-serif;color:#fff;text-transform:uppercase;}
.langlist_title span{padding:0 17px 0 0;background:url(/images/l_arr.png) no-repeat right center;}
.langlist_ul{position:absolute;float:none;top:20px;left:0;width:120px;background:#fff;box-shadow:0 0 5px #000;display:none;}
a.langlist_li{position:relative;display:block;padding:5px 5px 5px 30px;border-bottom:1px solid #dedede;text-decoration:none;}
.langlist_liimg{position:absolute;float:none;top:6px;left:5px;}
.wrapper{position:relative;z-index:80;min-height:650px;}
.contentwrap{padding:60px 0;width:960px;margin:0 auto;}
.breadcrumb_wrap{padding:20px 0 10px 0;position:relative;width:100%;min-width:1000px;background:#00c063;}
.breadcrumb_div{width:960px;margin:0 auto;}
.breadcrumb_ins{min-height:73px;background:url(/images/breadcrumb.png) no-repeat 5px 0;padding:12px 0 0 115px;}
h1.breadcrumb_title{margin:0 0 15px 0;color:#000;font:700 14px 'Open Sans',serif;text-transform:uppercase;}
.breadcrumb ul li{float:left;margin:0 9px 0 0;padding:0 0 0 12px;background:url(/images/b_li.png) no-repeat 0 center;}
.breadcrumb ul li.first{padding:0;background:none;}
.breadcrumb a{font:italic 13px 'Open Sans',serif;color:#ffffff;text-decoration:none;}
.breadcrumb a{color:#ffffff;}
.breadcrumb a:hover{text-decoration:underline;}
.breadcrumb div{display:inline-block;}
.home_opacity_block{padding:60px 0 0 0;position:relative;width:100%;min-width:1000px;}
.home_opacity_block_ins{width:960px;margin:0 auto;color:#000;min-height:100px;}
.home_opacity_block_ins a{color:#000;}
.home_wtext_block{padding:0 0 0 115px;min-height:80px;background:url(/images/wtext_ico.png) no-repeat 5px 0;}
.home_white_block{padding:60px 0 45px 0;position:relative;background:#fff;width:100%;min-width:1000px;}
.home_gray_blick{position:absolute;float:none;width:89px;height:39px;background:url(/images/gray_blick.png) no-repeat center bottom;top:0px;left:50%;margin:0 0 0 -45px;}
.home_white_blick{position:absolute;float:none;width:89px;height:39px;background:url(/images/white_blick.png) no-repeat center bottom;top:0px;left:50%;margin:0 0 0 -45px;}
.home_white_block_ins{width:960px;margin:0 auto;color:#000;min-height:100px;}
.home_white_block_ins a{color:#000;}
.home_text_block{padding:0 0 0 115px;min-height:80px;background:url(/images/text_ico.png) no-repeat 5px 0;}
.home_text_title, .home_text_div h1, .home_text_div h2{margin:0 0 20px 0;color:#000;font:700 14px 'Open Sans',serif;text-transform:uppercase;}
.home_gray_block{padding:80px 0 45px 0;position:relative;background:#00c063;width:100%;min-width:1000px;}
.home_gray_block_ins{width:960px;margin:0 auto;color:#fff;min-height:100px;}
.home_gray_block_ins a{color:#fff;}
.home_news_block{padding:0 0 0 115px;min-height:80px;background:url(/images/news_ico.png) no-repeat 5px 0;}
.home_news_title{margin:0 0 20px 0;color:#fff;font:700 14px 'Open Sans',serif;text-transform:uppercase;}
.home_news_div{margin:0 0 25px 0;}
.home_news_one{float:left;padding:0 30px 0 0;width:240px;}
.home_news_date{float:left;padding:4px 15px;border-radius:25px;color:#858c97;background:#fff;margin:0 0 10px 0;}
.home_news_more a{color:#fff;font:italic 12px 'Open Sans',serif;text-decoration:none;}
.home_news_more a:hover{text-decoration:underline;}
.home_reviews_block{padding:0 0 0 115px;background:url(/images/news_ico.png) no-repeat 5px 0;}
.home_reviews_title{margin:0 0 20px 0;color:#fff;font:700 14px 'Open Sans',serif;text-transform:uppercase;}
.home_reviews_div{margin:0 0 25px 0;}
.home_reviews_one{float:left;padding:0 30px 0 0;width:240px;}
.home_reviews_date{float:left;font:600 13px 'Open Sans',serif;margin:0 0 10px 0;}
.home_reviews_more a{color:#fff;font:italic 12px 'Open Sans',serif;text-decoration:none;}
.home_reviews_more a:hover{text-decoration:underline;}
.home_whay_block{display:none;padding:60px 0 35px 0;position:relative;width:100%;min-width:1000px;background:#e4eae7;}
.home_reserv_title{margin:0 0 20px 0;color:#2a2a2a;font:700 14px 'Open Sans',serif;text-transform:uppercase;}
.home_reserv_many{overflow:hidden;}
.home_reserv_many_ins{width:1030px;}
.one_home_reserv{float:left;width:210px;margin:0 10px 10px 0;border-radius:3px;background:#fff;padding:10px;}
.one_home_reserv_ico{float:left;width:50px;height:50px;}
.one_home_reserv_block{float:right;width:150px;color:#545454;font:14px 'Open Sans',serif;padding:5px 0 0 0;}
.one_home_reserv_title{font:600 14px 'Open Sans',serif;margin:0 0 1px 0;}
.home_partner_block{padding:0 0 0 115px;min-height:73px;background:url(/images/partner_ico.png) no-repeat 5px 0;}
.home_lchange_div{float:left;width:450px;}
.home_lchange_title{margin:0 0 20px 0;color:#2a2a2a;font:700 14px 'Open Sans',serif;text-transform:uppercase;}
.home_lchange_date{color:#545454;font:14px 'Open Sans',serif;margin:0 0 20px 0;}
.home_lchange_why{float:left;width:150px;}
.home_lchange_ico{float:left;width:50px;height:50px;}
.home_lchange_txt{float:left;width:90px;font:14px 'Open Sans',serif;padding:6px 0 0 5px;}
.home_lchange_arr{float:left;width:50px;height:50px;background:url(/images/harr.png) no-repeat 0 center;}
.home_partner_div{float:left;width:380px;}
.home_partner_title{margin:0 0 20px 0;color:#2a2a2a;font:700 14px 'Open Sans',serif;text-transform:uppercase;}
.home_partner_one{float:left;margin:0 20px 20px 0;}
.thecontent{float:left;width:670px;}
.whitepage{background:#fff;border-bottom:1px solid #f7f7f8;margin:0 0 30px 0;padding:20px 25px 1px;}
.home_text_div .text{padding:0;border-radius:0;}
.text{padding:20px;background:#fff;border-radius:3px;}
.text p{padding:0 0 20px 0;}
.text ul{margin:0 0 20px 20px;}
.text ul ul{margin:0 0 0px 20px;padding:10px 0 0 0;}
.text ul li{display:block;background:url(/images/liarr.png) no-repeat 0 4px;padding:0 0 5px 12px;}
.text ol{list-style-type:decimal;margin:0 0 20px 40px;color:#545454;}
.text ol ol{margin:0 0 0px 20px;padding:10px 0 10px 0;}
.text table{border:none;margin:0 0 20px;}
.text table th{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 15px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
.text table th.th1{border-radius:3px 0 0 0;}
.text table th.th2{border-radius:0 3px 0 0;}
.text table td{font:13px 'Open Sans',serif;padding:15px 15px;text-align:left;background:#fff;border-bottom:1px solid #f7f7f8;}
.text table td.td1{border-radius:0 0 0 3px;}
.text table td.td2{border-radius:0 0 3px 0;}
.notice_message_text ul,
.block_statusnew_instruction ul,
.block_instruction_text ul,
.warning_message_text ul,
.hexch_message_text ul{margin:0 0 20px 20px;}
.notice_message_text ul ul,
.block_statusnew_instruction ul ul,
.block_instruction_text ul ul,
.warning_message_text ul ul,
.hexch_message_text ul ul{margin:0 0 0px 20px;padding:10px 0 0 0;}
.notice_message_text ul li,
.block_statusnew_instruction ul li,
.block_instruction_text ul li,
.warning_message_text ul li,
.hexch_message_text ul li{display:block;background:url(/images/liarr.png) no-repeat 0 4px;padding:0 0 5px 12px;}
.notice_message_text ol,
.block_statusnew_instruction ol,
.block_instruction_text ol,
.warning_message_text ol,
.hexch_message_text ol{list-style-type:decimal;margin:0 0 20px 20px;color:#545454;}
.notice_message_text ol ol,
.block_statusnew_instruction ol ol,
.block_instruction_text ol ol,
.warning_message_text ol ol,
.hexch_message_text ol ol{margin:0 0 0px 20px;padding:10px 0 10px 0;}
.term_description{background:#fff;padding:20px 20px 1px;margin:0 0 30px 0;}
.one_news{margin:0 0 30px 0;background:#fff;padding:20px;border-radius:3px;}
h2.one_news_title{margin:0 0 15px 0;}
h2.one_news_title a{text-decoration:none;color:#252927;font:700 14px 'Open Sans',serif;text-transform:uppercase;}
h2.one_news_title a:hover{text-decoration:underline;}
.one_news_date{float:left;padding:4px 15px;border-radius:25px;color:#858c97;background:#fff;margin:0 0 15px 0;}
.metabox_left{float:left;width:450px;}
.metabox_cats{color:#545454;font:600 12px 'Open Sans',serif;}
.metabox_cats a{color:#545454;font:italic 600 12px 'Open Sans',serif;text-decoration:none;}
.metabox_cats a:hover{text-decoration:underline;}
a.more_news_link{float:right;color:#545454;padding:0 30px 0 0;font:italic 600 12px 'Open Sans',serif;text-decoration:none;background:url(/images/right.png) no-repeat right center;}
a.more_news_link:hover{text-decoration:underline;}
.many_reviews{margin:0 0 20px 0;}
.one_reviews{background:#fff;border-radius:4px;padding:10px 20px 5px;margin:0 0 20px 0;}
.one_reviews_name{float:left;font:600 14px 'Open Sans',serif;margin:0 5px 10px 0;}
.one_reviews_date{float:left;font:600 14px 'Open Sans',serif;}
.one_reviews_text{font:italic 14px 'Open Sans',serif;}
.one_reviews_text p{padding:0 0 10px 0;}
.rf_div_wrap{margin:0 0 40px 0;}
.rf_div_title{font:700 14px 'Open Sans',serif;color:#252927;padding:20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.rf_div{background:#fff;border-radius:0 0 3px 3px;padding:10px 20px;overflow:hidden;}
.rf_label{margin:0;padding:0 0 3px;font:600 13px 'Open Sans',serif;color:#252927;}
.rf_line{padding:8px 0;}
.cf_div_wrap{margin:0 0 20px 0;}
.cf_div_title{font:700 14px 'Open Sans',serif;color:#252927;padding:20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.cf_div{background:#fff;border-radius:0 0 3px 3px;padding:10px 20px;overflow:hidden;}
.cf_label{margin:0;padding:0 0 3px;font:600 13px 'Open Sans',serif;color:#252927;}
.cf_line{padding:8px 0;}
.acf_div_wrap{margin:0 0 20px 0;}
.acf_div_title{font:700 14px 'Open Sans',serif;color:#252927;padding:20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.acf_div{background:#fff;border-radius:0 0 3px 3px;padding:10px 20px;overflow:hidden;}
.acf_label{margin:0;padding:0 0 3px;font:600 13px 'Open Sans',serif;color:#252927;}
.acf_line{padding:8px 0;}
.reg_div_wrap{margin:0 0 20px 0;}
.reg_div_title{font:700 14px 'Open Sans',serif;color:#252927;padding:20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.reg_div{background:#fff;border-radius:0 0 3px 3px;padding:10px 20px;overflow:hidden;}
.reg_label{margin:0;padding:0 0 3px;font:600 13px 'Open Sans',serif;color:#252927;}
.reg_line{padding:8px 0;}
.reg_line_subm_left{float:left;width:160px;}
.reg_line_subm_right{float:left;width:160px;margin:11px 0 0 0;}
.log_div_wrap{margin:0 0 20px 0;}
.log_div_title{font:700 14px 'Open Sans',serif;color:#252927;padding:20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.log_div{background:#fff;border-radius:0 0 3px 3px;padding:10px 20px;overflow:hidden;}
.log_label{margin:0;padding:0 0 3px;font:600 13px 'Open Sans',serif;color:#252927;}
.log_line{padding:8px 0;}
.log_line_subm_left{float:left;}
.log_line_subm_right{float:left;width:160px;margin:0 0 0 20px;}
.log_line_subm_right p{padding:1px 0;}
.lp_div_wrap{margin:0 0 20px 0;}
.lp_div_title{font:700 14px 'Open Sans',serif;color:#252927;padding:20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.lp_div{background:#fff;border-radius:0 0 3px 3px;padding:10px 20px;overflow:hidden;}
.lp_label{margin:0;padding:0 0 3px;font:600 13px 'Open Sans',serif;color:#252927;}
.lp_line{padding:8px 0;}
.usersbill_form{text-align:left;background:#fff;border-bottom:1px solid #f7f7f8;margin:0 0 30px 0;padding:15px 15px;}
.usersbill_form_title{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 15px;margin:-15px -15px 15px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
.userbill_one_line{margin:0 0 10px 0;}
input.shot_schet{float:left;width:70px;margin:0 10px 0 0;}
.userbill_help{background:#f7fbcd;border-bottom:2px solid #b0c000;padding:5px 10px 5px 10px;margin:0 0 10px 0;}
.userbill_one_tab{padding:10px 0 0 0;display:none;}
.usersbill_table{margin:0 0 30px 0;}
.usersbill_table_title{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 15px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
.usersbill_table_one{background:#fff;padding:15px 15px;border-bottom:2px solid #f7f7f8;position:relative;}
.usersbill_one_title{font:600 14px 'Open Sans',serif;margin:0 0 5px 0;}
.close_usersbill{position:absolute;float:none;top:17px;right:15px;width:35px;height:35px;background:url(/images/big_close.png) no-repeat center center;cursor:pointer;}
.close_usersbill:hover{opacity:0.8;}
.close_usersbill.act{background:url(/images/ajax-loader.gif) no-repeat center center;}
.verify_status{padding:5px 0 0 0;font:600 14px 'Open Sans',serif;}
.verify_status.wait{color:#858c97;}
.verify_status.success{color:#00c063;}
.verify_status.not{color:#c00068;}
.verify_status a{color:#c00068;text-decoration:none;border-bottom:1px dotted #c00068;}
.verify_status a:hover{border-bottom:1px dotted #fff;}
.verify_tab_action_div{padding:10px 0 0 20px;display:none;font:italic 13px 'Open Sans',serif;}
.verify_tab_action_div p{padding:0 0 10px 0;}
.verify_tab_action_link{float:left;background:#00c063;border-radius:3px;height:40px;padding:0 25px;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;color:#fff;font:600 13px/40px 'Open Sans', sans-serif;cursor:pointer;}
.verify_tab_action_link:hover{background:#02944d;text-decoration:none;}
.verify_tab_action_link.act{background:#ccc;cursor:default;}
.promo_topmenu{margin:0 0 20px 0;}
.promo_topmenu ul{margin:0;list-style:none;padding:0;}
.promo_topmenu li{display:inline;padding:0;margin:0 5px 0 0;background:none;}
.promo_topmenu a{margin:0;padding:0;font:600 14px 'Open Sans',serif;}
.promo_topmenu a:hover{color:#ff0000;}
.promo_topmenu li.current a{text-decoration:none;color:#000;}
.promotext_warning{margin:0 0 20px 0;}
.one_promotxt{margin:0 0 10px 0;font:italic 600 14px 'Open Sans',serif;}
.one_promotxt_code{margin:0 0 30px 0;}
.partner_textarea{height:100px;min-height:100px;max-height:auto;}
.promo_menu{margin:0 0 20px 0;}
.promo_menu ul{list-style:none;margin:0;padding:0;}
.promo_menu ul li{display:inline;margin:0 10px 0 0;padding:0;background:none;}
.promo_menu ul li a{position:relative;margin:0;border-bottom:1px dotted #09344b;color:#09344b;text-decoration:none;}
.promo_menu ul li a:hover{position:relative;margin:0;border-bottom:1px dotted #ff0000;color:#ff0000;text-decoration:none;}
.promo_menu ul li.act a{position:relative;margin:0;border-bottom:none;color:#000;text-decoration:none;}
.pbcontainer{display:none;}
.pbcontainer.act{display:block;}
.prevbanner{margin:0 0 5px 0;}
.bannerboxone{margin:0 0 25px 0;}
.bannerboxlink a{position:relative;margin:0;border-bottom:1px dotted #09344b;color:#09344b;text-decoration:none;}
.bannerboxlink a.act{position:relative;margin:0;border-bottom:1px dotted #000;color:#000;font-weight:600;text-decoration:none;}
.bannerboxlink a:hover, .bannerboxlink a.act:hover{position:relative;margin:0;border-bottom:1px dotted #ff0000;color:#ff0000;text-decoration:none;}
.bannerboxtextarea{padding:10px 0 0 0;display:none;}
.preferals_table_div{margin:0 0 30px 0;}
.preferals_table_div table{border:none;width:100%;margin:0 0 20px;}
.preferals_table_div table th{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 15px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
.preferals_table_div table th.th1{border-radius:3px 0 0 0;}
.preferals_table_div table th.th2{border-radius:0 3px 0 0;}
.preferals_table_div table td{font:13px 'Open Sans',serif;padding:15px 15px;text-align:left;background:#fff;border-bottom:1px solid #f7f7f8;}
.preferals_table_div table td.td1{border-radius:0 0 0 3px;}
.preferals_table_div table td.td2{border-radius:0 0 3px 0;}
.plinks_table_div{margin:0 0 30px 0;}
.plinks_table_div table{border:none;width:100%;margin:0 0 20px;word-wrap:break-word;word-break:break-all;}
.plinks_table_div table th{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 15px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
.plinks_table_div table th.th1{border-radius:3px 0 0 0;}
.plinks_table_div table th.th2{border-radius:0 3px 0 0;}
.plinks_table_div table td{font:13px 'Open Sans',serif;padding:15px 15px;text-align:left;background:#fff;border-bottom:1px solid #f7f7f8;}
.plinks_table_div table td.td1{border-radius:0 0 0 3px;}
.plinks_table_div table td.td2{border-radius:0 0 3px 0;}
.userxch_tablediv{background:#858c97;margin:0 0 30px 0;padding:15px 20px;border-radius:4px;color:#fff;}
.userxch_tablediv a{color:#fff;}
.userxch_tablediv table{width:100%;}
.userxch_tablediv table th{padding:5px 10px;text-align:left;background:none;color:#fff;font:13px 'Open Sans',serif;}
.userxch_tablediv table td{padding:5px 10px;text-align:right;background:none;color:#fff;font:13px 'Open Sans',serif;}
.stattablediv{background:#858c97;margin:0 0 30px 0;padding:15px 20px;border-radius:4px;color:#fff;}
.stattablediv a{color:#fff;}
.stattablediv table{width:100%;}
.stattablediv table th{padding:5px 10px;text-align:left;background:none;color:#fff;font:13px 'Open Sans',serif;}
.stattablediv table td{padding:5px 10px;text-align:right;background:none;color:#fff;font:13px 'Open Sans',serif;}
.statuserdiv{width:350px;margin:0 0 30px 0;background:#fff;border-bottom:1px solid #f7f7f8;padding:15px 15px;}
.statuserdiv_title{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 15px;margin:-15px -15px 15px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
.statuserdiv table{width:100%;}
.statuserdiv table th{padding:5px 10px;text-align:left;background:none;font:600 13px 'Open Sans',serif;}
.statuserdiv table td{padding:5px 10px;text-align:right;background:none;font:13px 'Open Sans',serif;}
.promouserdiv h3{font:22px 'Open Sans';margin:0 0 10px 0;}
.promouserdiv h4{font:16px 'Open Sans';margin:0 0 10px 0;}
.promouserdiv p{padding:0 0 20px 0;}
.paytext{border-radius:4px;margin:0 0 30px 0;padding:15px 20px;font:13px 'Open Sans';background:#fff;}
.paydiv{border-radius:4px;margin:0 0 30px 0;padding:15px 20px;font:13px 'Open Sans';background:#fff;}
.pay_left_col{padding:0 0 5px 0;font:600 13px 'Open Sans';}
.pay_select{margin:0 0 5px 0;}
.pay_input{position:relative;margin:0 0 10px 0;}
.pay_input input{padding-left:30px;}
.pay_purse_link{position:absolute;float:none;top:50%;left:10px;margin:-8px 0 0 0;width:16px;height:16px;cursor:pointer;background:url(/images/purse.png) no-repeat center center;}
.pay_purse_link_ins{position:relative;width:16px;height:16px;}
.pay_purse_ul{position:absolute;float:none;top:0;left:0px;width:250px;background:#fff;box-shadow:0 0 5px #9fa3a1;display:none;}
.pay_purse_line{display:none;padding:5px 10px;border-bottom:1px solid #dedede;}
.paytable, .userxchtable{margin:0 0 30px 0;}
.paytable_title, .userxchtable_title{font:22px 'Open Sans';margin:0 0 15px 0;}
.paytable table, .userxchtable table{border:none;width:100%;margin:0 0 20px;}
.paytable table th, .userxchtable table th{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 10px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
.paytable table th.th1, .userxchtable table.th1{border-radius:3px 0 0 0;}
.paytable table th.th2, .userxchtable table.th2{border-radius:0 3px 0 0;}
.paytable table td, .userxchtable table td{font:13px 'Open Sans',serif;padding:15px 10px;text-align:left;background:#fff;border-bottom:1px solid #f7f7f8;}
.paytable table td.td1, .userxchtable td.td1{border-radius:0 0 0 3px;}
.paytable table td.td2, .userxchtable td.td2{border-radius:0 0 3px 0;}
a.delpay_link{font:600 13px 'Open Sans',serif;color:#ff0000;}
a.delpay_link.act{cursor:default;color:#ccc;}
.paystatus{font:600 13px 'Open Sans',serif;}
.paystatus.pst1{color:#0390cb;}
.paystatus.pst2{color:#03cb29;}
.paystatus.pst3{color:#ff0000;}
.paystatus.pst4{color:#ff0000;}
.uo_curs2{background:url(/images/liarr.png) no-repeat 0 4px;padding:0 0 0 12px;margin:0 0 0 6px;}
a.uostatus_link{font:600 13px 'Open Sans',serif;color:#0390cb;}
a.uostatus_link.uost_payed,
a.uostatus_link.uost_coldpay,
a.uostatus_link.uost_realpay,
a.uostatus_link.uost_verify{color:#c9cb03;}
a.uostatus_link.uost_error{color:#ff0000;}
a.uostatus_link.uost_coldsuccess,
a.uostatus_link.uost_success{color:#03cb29;}
.uosum{font-weight:600;}
.userverify_text{margin:0 0 30px 0;padding:20px 20px 1px;background:#fff;}
.userverify_div{margin:0 0 30px 0;padding:20px;background:#fff;}
.oneusvebody table{border:none;background:#fff;}
.oneusvebody table td{padding:5px 10px;}
.oneusvebody table th{padding:5px 10px;font:600 13px 'Open Sans',serif;width:160px;text-align:left;}
.usvefilelock{margin:0 0 5px 0;}
.usvelabeldown{font:600 13px 'Open Sans', serif;padding:0 0 3px 0;}
.usvelabeldownsyst{font:600 11px 'Open Sans';padding:0 0 10px 0;}
.usveupfile{margin:0 0 10px 0;}
.userverify_table_title{float:left;position:relative;margin:0 0 20px 0;font:600 12px 'Open Sans',serif;color:#fff;padding:5px 15px 7px;border-radius:30px;background:#858c97;border-top:2px solid #7b818b;}
.userverify_table table{border:none;width:100%;margin:0 0 20px;}
.userverify_table table th{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 15px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
.userverify_table table th.th1{border-radius:3px 0 0 0;}
.userverify_table table th.th2{border-radius:0 3px 0 0;}
.userverify_table table td{font:13px 'Open Sans',serif;padding:15px 15px;text-align:left;background:#fff;border-bottom:1px solid #f7f7f8;}
.userverify_table table td.td1{border-radius:0 0 0 3px;}
.userverify_table table td.td2{border-radius:0 0 3px 0;}
.sitemap_block{margin:0 0 30px 0;}
.sitemap_title{float:left;position:relative;margin:0 0 20px 0;font:600 12px 'Open Sans',serif;color:#fff;padding:5px 15px 7px;border-radius:30px;background:#858c97;border-top:2px solid #7b818b;}
.sitemap_title_abs{position:absolute;float:none;bottom:-3px;left:40px;width:7px;height:3px;background:url(/images/tarif_arr.png) no-repeat;}
ul.sitemap_ul_exchanges li{float:left;display:block;width:290px;padding:0 30px 5px 12px;background:url(/images/liarr.png) no-repeat 0 4px;}
ul.sitemap_ul li{display:block;padding:0 0px 5px 12px;background:url(/images/liarr.png) no-repeat 0 4px;}
.tarif_block{margin:0 0 30px 0;}
.tarif_title{float:left;position:relative;margin:0 0 20px 0;font:600 12px 'Open Sans',serif;color:#fff;padding:5px 15px 7px;border-radius:30px;background:#858c97;border-top:2px solid #7b818b;}
.tarif_title_abs{position:absolute;float:none;bottom:-3px;left:40px;width:7px;height:3px;background:url(/images/tarif_arr.png) no-repeat;}
.javahref{cursor:pointer;}
table.tarif_table{border:none;width:100%;}
table.tarif_table th{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 10px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
table.tarif_table th.th1{border-radius:3px 0 0 0;}
table.tarif_table th.th2{border-radius:0 3px 0 0;}
table.tarif_table td{font:13px 'Open Sans',serif;padding:15px 10px;text-align:left;background:#fff;border-bottom:1px solid #f7f7f8;}
table.tarif_table td.td1{border-radius:0 0 0 3px;}
table.tarif_table td.td2{border-radius:0 0 3px 0;}
table.tarif_table td.tarif_curs_arr{width:20px;background:#fff url(/images/tarif_curs_arr.png) no-repeat center center;}
table.tarif_table td.tarif_curs_title_in, table.tarif_table td.tarif_curs_title_out{font:600 13px 'Open Sans',serif;}
.xchange_table_wrap{width:960px;padding:35px 0 0px;margin:0 auto;}
.xchange_type_table{padding:0 0 35px;}
.xtt_icon_wrap{padding:0 0 10px 0;}
.xtt_left_col_icon{float:left;width:390px;}
.xtt_right_col_icon{float:right;width:550px;}
.xtt_icon{float:left;padding:3px 12px;background:#ffffff;border-radius:30px;color:#858c97;font:12px 'Open Sans',serif;margin:0 5px 5px 0;cursor:pointer;position:relative;}
.xtt_icon.active{background:#858c97;box-shadow:inset 0 2px 3px #7b818b;color:#fff;}
.xtt_icon.active .xtt_icon_abs{background:url(/images/xtt_icon_abs.png) no-repeat 0 0;width:7px;height:3px;position:absolute;float:none;bottom:-3px;left:50%;margin:0 0 0 -4px;}
.xtt_left_col_title{float:left;width:390px;border-radius:3px 3px 0 0;font:700 14px 'Open Sans',serif;color:#252927;padding:15px 0px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
.xtt_table_title1{padding:0 20px;}
.xtt_right_col_title{float:right;width:550px;border-radius:3px 3px 0 0;font:700 14px 'Open Sans',serif;color:#252927;padding:15px 0px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;}
.xtt_table_title2{float:left;width:370px;padding:0 0px 0 20px;}
.xtt_table_title3{float:right;width:140px;padding:0 0px 0 20px;}
.xtt_left_col_table{float:left;width:390px;}
.xtt_one_line_left{position:relative;padding:2px 20px 2px 10px;background:#fff;border-bottom:1px solid #eaeaea;cursor:pointer;}
.xtt_one_line_ico_left{float:left;width:50px;margin:0 10px 0 0;}
.xtt_change_ico{width:50px;height:50px;}
.xtt_one_line_name_left{float:left;width:180px;}
.xtt_one_line_name{height:50px;font:13px 'Open Sans',serif;display:table-cell;vertical-align:middle;color:#545454;}
.xtt_one_line_curs_left{float:right;width:90px;}
.xtt_one_line_curs{height:50px;width:90px;font:13px 'Open Sans',serif;display:table-cell;vertical-align:middle;text-align:right;color:#545454;}
.xtt_one_line_left:hover, .js_item_left.active .xtt_one_line_left{background:#f0f5f3;}
.js_item_left.active .xtt_one_line_name,
.js_item_left.active .xtt_one_line_curs,
.xtt_one_line_left:hover .xtt_one_line_name,
.xtt_one_line_left:hover .xtt_one_line_curs{color:#00c063;}
.xtt_right_col_table{float:right;width:550px;}
.xtt_line_tab{display:none;}
.xtt_line_tab.active{display:block;}
.xtt_one_line_right{display:block;text-decoration:none;position:relative;padding:2px 20px 2px 10px;background:#fff;border-bottom:1px solid #eaeaea;cursor:pointer;}
.xtt_one_line_right:hover{background:#f0f5f3;}
.xtt_one_line_ico_right{float:left;width:50px;margin:0 10px 0 0;}
.xtt_one_line_name_right{float:left;width:210px;}
.xtt_one_line_curs_right{float:left;width:100px;}
.xtt_one_line_reserv_right{float:right;width:120px;margin:-2px 0;padding:2px 0px 2px 20px;border-left:1px solid #eaeaea;}
.xtt_one_line_reserv{height:50px;font:13px 'Open Sans',serif;display:table-cell;vertical-align:middle;color:#545454;}
.xtt_one_line_right:hover .xtt_one_line_name,
.xtt_one_line_right:hover .xtt_one_line_curs,
.xtt_one_line_right:hover .xtt_one_line_reserv{color:#00c063;}
.xtt_one_line_rez{cursor:pointer;position:absolute;float:none;top:50%;right:20px;width:22px;height:22px;background:url(/images/rez.png) no-repeat center center;margin:-11px 0 0 0;}
.xtt_one_line_rez:hover{opacity:0.6;}
.xtt_one_line_rez_ins{display:none;}
.xchange_type_plitka{padding:0 0 35px;}
.xtp_icon_wrap{padding:0 0 10px 0;}
.xtp_left_col_icon{float:left;width:490px;}
.xtp_right_col_icon{float:right;width:460px;}
.xtp_icon{float:left;padding:3px 12px;background:#ffffff;border-radius:30px;color:#858c97;font:12px 'Open Sans',serif;margin:0 5px 5px 0;cursor:pointer;position:relative;}
.xtp_icon.active{background:#858c97;box-shadow:inset 0 2px 3px #7b818b;color:#fff;}
.xtp_icon.active .xtp_icon_abs{background:url(/images/xtt_icon_abs.png) no-repeat 0 0;width:7px;height:3px;position:absolute;float:none;bottom:-3px;left:50%;margin:0 0 0 -4px;}
.xtp_table_wrap{border-radius:3px;background:#fff;padding:30px;border-bottom:3px solid #d3d9d6;}
.xtp_left_col_table{float:left;width:400px;margin:0 0 0 20px;}
.xtp_right_col_table{float:left;width:400px;margin:0 0 0 50px;}
.xtp_col_table_top{margin:0 0 20px 0;}
.xtp_table_title{font:700 14px 'Open Sans',serif;color:#000;text-transform:uppercase;margin:0 0 15px 0;}
.xtp_item{float:left;padding:2px;width:50px;height:50px;margin:0 15px 15px 0;border-radius:3px;border:1px solid #edf1ef;cursor:pointer;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;}
.xtp_item.active{box-shadow:0 0 5px #858c97;}
.xtp_item.not{opacity:0.3;}
.xtp_item_ico{width:50px;height:50px;}
.xtp_col_table_body{margin:0 0 20px 0;}
.xtp_commis_wrap{position:relative;margin:0 0 20px 0;}
.xtp_commis_text{float:left;height:50px;font:13px/50px 'Open Sans', sans-serif;}
.xtp_commis_wrap input{float:left;margin:0 10px 0 0;font:20px/50px 'Open Sans', sans-serif;padding:0 20px 0 20px;height:50px;width:120px;}
.xtp_curs_wrap{position:relative;width:300px;margin:0 0 20px 0;}
.xtp_input_wrap input{font:20px/50px 'Open Sans', sans-serif;padding:0 20px 0 20px;height:50px;}
.xtp_select_wrap{position:absolute;float:none;top:0px;right:-110px;width:100px;height:50px;}
.xtp_select_wrap select{width:100%;height:50px;}
.xtp_line{padding:0 0 10px 0;font:14px 'Open Sans', sans-serif;}
.xtp_line span{font-weight:600;}
a.xtp_link{font:14px 'Open Sans', sans-serif;color:#858c97;text-decoration:none;border-bottom:1px dotted #858c97;}
a:hover.xtp_link{color:#858c97;border-bottom:none;}
.xtp_html_wrap{position:relative;}
.xtp_html_abs{display:none;position:absolute;z-index:5;float:none;top:0;left:0;width:100%;height:100%;background:#fff url(/images/ajax-big-loader.gif) no-repeat center center;opacity:0.6;}
a.xtp_submit{display:block;text-decoration:none;background:#00c063;border-radius:3px;height:50px;width:300px;margin:0 auto;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;font:600 14px/50px 'Open Sans', sans-serif;cursor:pointer;text-transform:uppercase;text-align:center;}
a.xtp_submit:hover{background:#02944d;}
a.xtp_submit.active{background:#ccc;cursor:default;}
.xchange_type_list{padding:0 0 35px 0;}
.xtl_table_wrap{border-radius:3px;background:#fff;padding:30px;border-bottom:3px solid #d3d9d6;}
.xtl_table_top, .xtl_table_body{margin:0 0 20px 0;}
.xtl_table_title{font:700 14px 'Open Sans',serif;color:#000;text-transform:uppercase;}
.xtl_left_col{float:left;width:315px;position:relative;padding:0 0 0 100px;}
.xtl_center_col{float:left;width:69px;padding:8px 0 0 0;}
a.xtl_change{display:block;width:36px;height:35px;margin:0 auto;background:url(/images/xtl_change.png) no-repeat center center;}
a.xtl_change:hover{opacity:0.8;}
.xtl_right_col{float:right;width:315px;position:relative;padding:0 100px 0 0;}
.xtl_ico_wrap{position:absolute;top:-12px;float:none;width:70px;height:70px;border-radius:70px;border:3px solid #edf1ef;background:#fff;}
.xtl_left_col .xtl_ico_wrap{left:0;}
.xtl_right_col .xtl_ico_wrap{right:0;}
.xtl_ico{position:absolute;width:50px;height:50px;top:10px;left:10px;}
.xtl_input_wrap{margin:0 0 20px 0;}
.xtl_input_wrap input{font:20px/50px 'Open Sans', sans-serif;padding:0 20px 0 20px;height:50px;width:100%;}
.xtl_commis_wrap{position:relative;margin:0 0 20px 0;}
.xtl_commis_text{float:left;height:50px;font:13px/50px 'Open Sans', sans-serif;}
.xtl_commis_wrap input{float:left;margin:0 10px 0 0;font:20px/50px 'Open Sans', sans-serif;padding:0 20px 0 20px;height:50px;width:120px;}
.xtl_select_wrap{margin:0 0 20px 0;}
.xtl_select_wrap select{width:100%;height:50px;}
.xtl_line{padding:0 0 10px 0;font:14px 'Open Sans', sans-serif;}
.xtl_line span{font-weight:600;}
a.xtl_link{font:14px 'Open Sans', sans-serif;color:#858c97;text-decoration:none;border-bottom:1px dotted #858c97;}
a:hover.xtl_link{color:#858c97;border-bottom:none;}
a.xtl_submit{display:block;text-decoration:none;background:#00c063;border-radius:3px;height:50px;width:300px;margin:0 auto;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;font:600 14px/50px 'Open Sans', sans-serif;cursor:pointer;text-transform:uppercase;text-align:center;}
a.xtl_submit:hover{background:#02944d;}
a.xtl_submit.active{background:#ccc;cursor:default;}
.hexch_ajax_wrap{position:relative;width:960px;margin:0 auto;}
.hexch_ajax_wrap_abs{display:none;position:absolute;z-index:5;float:none;top:0;left:0;width:100%;height:100%;background:#fff url(/images/ajax-big-loader.gif) no-repeat center center;opacity:0.6;}
.hexch_message_wrap{padding:0 0 30px;}
.hexch_message{border-radius:3px;padding:15px 30px 15px 100px;border-bottom:3px solid #cacfcd;background:#fff url(/images/notice_message.png) no-repeat 30px 15px;}
.hexch_message_title{color:#2a2a2a;font:600 14px 'Open Sans',serif;text-transform:uppercase;margin:0 0 10px 0;}
.hexch_div{width:960px;padding:0 0 35px;margin:0 auto;}
.hexch_div_ins{border-radius:3px;background:#fff;padding:30px 0 10px;border-bottom:3px solid #d3d9d6;}
.hexch_left{margin:0 0 0 20px;float:left;width:410px;}
.hexch_right{float:left;width:410px;margin:0 0 0 40px;}
.hexch_pers{margin:0 0 0 20px;width:410px;padding:20px 0 10px 0;}
.hexch_title{color:#2a2a2a;font:600 14px 'Open Sans',serif;text-transform:uppercase;margin:0 0 15px 120px;}
.hexch_txt_line{height:50px;display:table-cell;vertical-align:middle;font:600 13px/14px 'Open Sans',serif;padding:0 0 20px 120px;}
.hexch_txt_line p{padding:3px 0;}
.hexch_sum_line, .hexch_pers_line{position:relative;margin:0 0 20px 0;}
.hexch_sum_line .check_purse_line{padding:20px 0 0px 120px;}
.hexch_comis_line{color:#858c97;font:13px/16px 'Open Sans',serif;padding:0 0 20px 120px;}
.hexch_sum_label, .hexch_pers_label{float:left;width:100px;height:50px;text-align:right;}
.hexch_sum_label_ins, .hexch_pers_label_ins{height:50px;display:table-cell;width:100px;font:600 13px/14px 'Open Sans',serif;vertical-align:middle;}
.hexch_sum_input, .hexch_pers_input{position:relative;float:right;width:290px;}
.hexch_sum_input input, .hexch_pers_input input{font:16px/50px 'Open Sans',serif;height:50px;width:100%;}
.hexch_sum_input select, .hexch_pers_input select{height:50px;width:100%;}
input.hexch_submit{display:block;height:50px;width:300px;margin:0 auto 20px;font:600 14px/50px 'Open Sans', sans-serif;text-align:center;}
.hexch_checkdata_div{padding:0 0 15px 370px;}
.span_skidka{color:#e46066;}
.ajax_post_bids_res{margin:0 30px;}
.info_window{display:none;z-index:1;position:absolute;top:55px;float:none;left:0px;color:#fff;font:12px/14px 'Open Sans',serif;background:#6ed3a2;padding:15px 20px;border-radius:3px;border-right:2px solid #d7dbd9;border-bottom:2px solid #d7dbd9;}
.js_window_wrap.showed .info_window{display:block;}
.info_window_abs{position:absolute;top:-4px;float:none;left:36px;background:url(/images/ug.png) no-repeat;width:16px;height:5px;}
.js_wrap_error{position:relative;}
.js_error{display:none;position:absolute;float:none;color:#e46066;font:600 11px/50px 'Open Sans',serif;top:0;height:50px;left:360px;}
.js_wrap_error_br .js_error{top:51px;left:0;width:240px;font:600 10px 'Open Sans',serif;}
.js_wrap_error.error .js_error{display:block;}
.js_wrap_error.error input{border:1px solid #e46066;}
.js_purse_wrap input{padding-left:40px;}
.js_purse_link{z-index:2;position:absolute;float:none;top:50%;left:15px;margin:-8px 0 0 0;width:16px;height:16px;cursor:pointer;background:url(/images/purse.png) no-repeat center center;}
.js_purse_link_ins{position:relative;width:16px;height:16px;}
.js_purse_ul{position:absolute;float:none;top:0;left:0px;width:250px;background:#fff;box-shadow:0 0 5px #9fa3a1;display:none;}
.js_purse_line{padding:5px 10px;border-bottom:1px solid #dedede;}
.notice_message{border-radius:3px;padding:15px 30px 15px 100px;margin:0 0 30px 0;border-bottom:3px solid #cacfcd;background:#fff url(/images/notice_message.png) no-repeat 30px 15px;}
.notice_message_title{color:#2a2a2a;font:600 14px 'Open Sans',serif;text-transform:uppercase;margin:0 0 10px 0;}
.xchange_div{border-radius:3px;background:#fff;padding:0 0 10px 0;margin:0 0 30px 0;}
.xchange_data_title, .xchange_pers_title{color:#252927;font:600 14px 'Open Sans',serif;text-transform:uppercase;border-radius:3px 3px 0 0;padding:15px 30px;background:#f0f5f3;}
.xchange_data_title.otd span{position:relative;padding:4px 40px 4px 0;background:url(/images/right-arr.png) no-repeat right center;}
.xchange_data_title.pol span{position:relative;padding:4px 40px 4px 0;background:url(/images/left-arr.png) no-repeat right center;}
.xchange_submit_div{padding:10px 0 20px;text-align:center;}
.xchange_submit_div input{display:block;height:50px;width:300px;margin:0 auto;font:600 14px/50px 'Open Sans', sans-serif;text-align:center;}
.xchange_checkdata_div{padding:0 0 15px 230px;}
.xchange_data_div{padding:30px 30px 20px;}
.xchange_data_left{width:340px;float:left;}
.xchange_info_line{height:50px;font:600 13px 'Open Sans',serif;}
.xchange_data_right{float:right;width:240px;}
.xchange_data_right .xchange_info_line{text-align:right;}
.xchange_sum_line{height:50px;position:relative;margin:0 0 20px 0;padding:0 0 0 100px;}
.xchange_sum_label{position:absolute;float:none;top:0;left:0;width:80px;height:50px;font:600 13px/50px 'Open Sans',serif;text-align:right;}
.xchange_sum_input{position:relative;}
.xchange_sum_input input{width:100%;height:50px;font:16px/50px 'Open Sans',serif;}
.xchange_select{margin:0 0 20px 0;height:50px;}
.xchange_select select{width:100%;height:50px;}
.xchange_sumandcom{min-height:50px;color:#858c97;font:13px/16px 'Open Sans',serif;margin:0 0 20px 0;}
.xchange_curs_line{margin:0 0 20px 0;}
.xchange_curs_label{padding:0 0 5px 0;font:600 13px 'Open Sans',serif;}
.xchange_curs_input{position:relative;}
.xchange_curs_input input{font:16px/50px 'Open Sans',serif;height:50px;width:100%;}
.xchange_curs_input select{height:50px;width:100%;}
.xchange_curs_line .check_purse_line{padding:20px 0 0px 0;}
.xchange_pers_div{width:340px;padding:30px 0 0 30px;}
.xchange_pers_line{margin:0 0 20px 0;}
.xchange_pers_label{padding:0 0 5px 0;font:600 13px 'Open Sans',serif;}
.xchange_pers_input{position:relative;}
.xchange_pers_input input{font:16px/50px 'Open Sans',serif;height:50px;width:100%;}
.xchange_pers_input select{width:100%;height:50px;}
.exch_ajax_wrap{position:relative;min-height:50px;}
.exch_ajax_wrap_abs{display:none;position:absolute;z-index:5;float:none;top:0;left:0;width:100%;height:100%;background:#fff url(/images/ajax-big-loader.gif) no-repeat center center;opacity:0.6;}
.warning_message{border-radius:3px;border:3px solid #787f8a;padding:25px 30px 10px;margin:0 0 30px 0;background:#fff;}
.warning_message_title h2{font-size:20px;font-weight:bold;font-family:'Roboto', sans-serif;margin:0 0 10px 0;}
.warning_message h3{font-size:17px;font-weight:bold;font-family:'Roboto', sans-serif;margin:0 0 10px 0;}
.warning_message_title{}
.warning_message_text p{padding:0 0 15px 0;}
.block_xchangedata{border-radius:3px;background:#fff;min-height:400px;padding:0 0 5px 0;margin:0 0 30px 0;}
.block_xchdata_title{color:#252927;font:600 14px 'Open Sans',serif;text-transform:uppercase;border-radius:3px 3px 0 0;padding:15px 30px;background:#f0f5f3;}
.block_xchdata_title.otd span{position:relative;padding:4px 40px 4px 0;background:url(/images/right-arr.png) no-repeat right center;}
.block_xchdata_title.pol span{position:relative;padding:4px 40px 4px 0;background:url(/images/left-arr.png) no-repeat right center;}
.block_xchdata_comm{padding:20px 30px 15px;color:#858c97;}
.block_xchdata_info{padding:10px;}
.block_xchdata_info_left{float:left;width:400px;}
.block_xchdata_line{padding:4px 0;}
.block_xchdata_line span{font-weight:600;}
.block_xchdata_info_right{float:right;}
.block_xchdata_ico{float:left;width:50px;height:50px;margin:0 0 0 0;}
.block_xchdata_text{float:left;height:50px;font:14px/50px 'Open Sans',serif;}
.block_persdata_title{color:#252927;font:600 14px 'Open Sans',serif;text-transform:uppercase;border-radius:3px 3px 0 0;padding:15px 30px;background:#f0f5f3;}
.block_persdata_info{padding:15px 30px 15px;}
.block_persdata_info span{font-weight:600;}
.block_persdata_info p{padding:5px 0;}
.block_rule_info{color:#bc3a30;padding:10px 0 10px;text-align:center;}
.block_submitbutton{padding:10px 0 20px;text-align:center;}
.block_warning{border-radius:3px 3px 0 0;padding:15px 30px 15px 100px;background:#f0f5f3 url(/images/block_warning.png) no-repeat 30px 15px;}
.block_warning_title{color:#252927;font:600 14px 'Open Sans',serif;text-transform:uppercase;margin:0 0 10px 0;}
.block_checked_rule{padding:20px 0px 20px 160px;}
.block_statusbids{border-radius:3px;background:#fff;min-height:400px;margin:0 0 30px 0;}
.block_statusbid_title{color:#252927;font:600 14px 'Open Sans',serif;text-transform:uppercase;border-radius:3px 3px 0 0;padding:15px 30px;background:#f0f5f3;}
.block_instruction_text{padding:20px 30px 0px;}
.block_statusnew_instruction{margin:0 0 20px 0;}
.block_statusnew_instruction p, .block_instruction_text p{padding:0 0 10px 0;}
.not_vaccaunt_now{font-weight:600;}
.block_statusnew_sum{margin:0 0 20px 0;}
.block_payinfo{padding:20px 30px;}
.block_payinfo_line{padding:5px 0;}
.block_payinfo_line span{font-weight:600;}
.block_status{background:#f0f5f3;padding:20px 30px;}
.block_status_time{padding:0 0 10px 0;}
.block_status_time span{font-weight:600;}
span.block_status_text_info{font-weight:600;}
.block_check_payment{height:20px;position:relative;overflow:hidden;margin:0 30px 20px;background:#79808b;}
.block_check_payment_ins{position:absolute;float:none;top:0;left:0;width:0px;height:100%;background:#00c063;}
.block_check_payment_abs{position:absolute;float:none;top:0;left:0;color:#fff;text-align:center;font:600 13px/20px 'Open Sans',serif;width:100%;height:100%;z-index:1;}
.block_change_browse{text-align:center;padding:20px 0;color:#ff0000;}
.block_warning_merch{color:#252927;padding:15px 30px;background:#f0f5f3;}
.block_paybutton_merch{padding:30px 0;}
.block_paybutton{padding:30px 50px;}
a.cancel_paybutton{float:left;display:block;text-decoration:none;background:#79808b;border-radius:3px;height:40px;width:220px;margin:0 auto;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;font:600 14px/40px 'Open Sans', sans-serif;cursor:pointer;text-transform:uppercase;text-align:center;}
a.cancel_paybutton:hover{background:#61666e;}
a.success_paybutton{float:right;display:block;text-decoration:none;background:#00c063;border-radius:3px;height:40px;width:220px;margin:0 auto;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;font:600 14px/40px 'Open Sans', sans-serif;cursor:pointer;text-transform:uppercase;text-align:center;}
a.success_paybutton:hover{background:#02944d;}
a.merch_paybutton{display:block;text-decoration:none;background:#252927;border-radius:3px;height:40px;width:220px;margin:0 auto;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;font:600 14px/40px 'Open Sans', sans-serif;cursor:pointer;text-transform:uppercase;text-align:center;}
a.merch_paybutton:hover{background:#000;}
.widget_lastbids_div{background:#fff;border-radius:3px;padding:0 0px 0px 0px;}
.widget_lastbids_div .widget_title{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 20px;margin:0;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.lb_statics_line{border-bottom:1px solid #eaeaea;padding:10px 20px 10px 20px;}
.lb_statics_line span{font-weight:600;}
.lastbids_one_line{border-bottom:1px solid #eaeaea;padding:10px 20px 10px 20px;}
.lbo_time{float:left;padding:2px 10px;border-radius:30px;color:#fff;background:#858c97;font:12px 'Open Sans',serif;margin:0 0 5px 0;}
.lbo_item_div span{font-weight:600;}
.widget_lb_nobid{border-bottom:1px solid #eaeaea;padding:10px 20px 10px 20px;font-weight:600;}
.widget_lchange_div{background:#fff;border-radius:3px;padding:0 0px 20px 20px;}
.widget_lchange_div .widget_title{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 20px;margin:0 0px 15px -20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.widget_lchange_date{float:left;padding:4px 15px;border-radius:25px;color:#fff;background:#858c97;font:600 14px 'Open Sans',serif;margin:0 0 10px 0;}
.widget_lchange_why{float:left;width:85px;}
.widget_lchange_ico{border-radius:4px;border:1px solid #f0f5f3;width:50px;height:50px;}
.widget_lchange_txt{font:13px 'Open Sans',serif;padding:6px 0 0 5px;}
.widget_lchange_arr{float:left;width:50px;height:50px;background:url(/images/harr.png) no-repeat 0 center;}
.domacc_div_wrap{margin:0 0 30px 0;}
.domacc_div_title{font:700 14px 'Open Sans',serif;color:#252927;padding:20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.domacc_div{background:#fff;border-radius:0 0 3px 3px;padding:10px 20px;overflow:hidden;}
.domacc_line{padding:5px 0;border-bottom:1px solid #eee;}
.domacc_label{margin:0 10px 0 0;min-width:50px;float:left;font:600 13px 'Open Sans',serif;color:#252927;}
.domacc_val{float:left;width:300px;font:13px 'Open Sans',serif;}
.captcha_div{margin:0 0 10px 0;}
.hexch_div_ins .captcha_div{margin:0 0 20px 140px;}
.xchange_div_ins .captcha_div{margin:0 0 20px 30px;}
.captcha_title{font:600 13px 'Open Sans', sans-serif;margin:0 0 5px 0;}
.captcha_body{padding:0 0 10px 0;}
.captcha_divimg{float:left;width:40px;height:40px;border:1px solid #ddd;}
.captcha_divimg img{width:40px;height:40px;}
.captcha_divznak{float:left;width:30px;height:42px;font:600 18px/42px 'Open Sans', sans-serif;text-align:center;}
input.captcha_divpole{float:left;width:50px;height:42px;padding:0 5px;font:18px/42px 'Open Sans', sans-serif;margin:0;text-align:center;}
.select_js{position:relative;cursor:pointer;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.select_ico{float:left;width:50px;height:50px;margin:0 10px 0 0;}
.select_txt{float:left;width:220px;}
.select_js_title{font:18px/50px 'Open Sans', sans-serif;background:#f0f5f3 url(/images/jsel.png) no-repeat right center;border-radius:3px;height:50px;padding:0 40px 0 20px;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#545454;overflow:hidden;}
.iselect_js .select_js_title{padding:0 40px 0 10px;}
.pay_select .select_js_title,
.userbill_title .select_js_title,
.onesystembody .select_js_title{font:13px/38px 'Open Sans', sans-serif;height:38px;width:300px;}
.select_js_ul{display:none;position:absolute;z-index:30;float:none;top:50px;background:#fafafa;border:1px solid #dfe0e0;width:100%;min-width:100px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-radius:0 0 3px 3px;max-height:250px;overflow-y:auto;}
.pay_select .select_js_ul,
.userbill_title .select_js_ul,
.onesystembody .select_js_ul{width:300px;top:38px;}
.select_js_ulli{overflow:hidden;padding:8px 20px;font:13px 'Open Sans', sans-serif;border-bottom:1px solid #dfe0e0;}
.iselect_js .select_js_ulli{padding:0 10px;height:50px;font:18px/50px 'Open Sans', sans-serif;}
.select_js_ulli:hover{background:#fcfded;}
.select_js_ulli.active{background:#848b96;color:#fff;}
.widget_cbr_div{margin:0 0 30px 0;background:#fff;border-radius:3px;}
.widget_cbr_div_title{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.cbr_update{padding:10px 20px;font:600 13px 'Open Sans',serif;}
.widget_cbr_line{border-bottom:1px solid #eaeaea;padding:10px 10px 10px 20px;}
.widget_cbr_left{float:left;width:100px;}
.widget_cbr_title{font:600 13px 'Open Sans',serif;padding:3px 0 2px 0;}
.widget_cbr_birg{font:600 10px 'Open Sans',serif;color:#858c97;}
.widget_cbr_curs{float:left;width:100px;padding:0 0 0 20px;}
.widget_cbr_curs.up{background:url(/images/up.png) no-repeat 0 center;}
.widget_cbr_curs.down{background:url(/images/down.png) no-repeat 0 center;}
.widget_cbr_onecurs{padding:2px 0;}
#the_shadow{position:fixed;float:none;top:0;left:0;z-index:999998;width:100%;height:100%;display:none;background:#000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;}
.reserv_box{position:fixed;float:none;top:200px;left:0;z-index:999999;width:100%;height:100%;display:none;}
.reserv_box_ins{position:relative;width:360px;margin:0 auto;padding:0px 20px 20px;box-shadow:0 0 10px #000;background:#fff;border-radius:3px;}
.reserv_box_close{position:absolute;float:none;width:20px;height:20px;cursor:pointer;background:url(/images/close.png) no-repeat center center;top:15px;right:15px;}
.reserv_box_title{font:700 14px 'Open Sans',serif;color:#252927;margin:0 -20px 20px;padding:15px 40px 15px 20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.reserv_box_ins p{padding:5px 0;}
.sidebar{float:right;width:260px;}
.widget{margin:0 0 30px 0;}
.widget_news_div{background:#fff;border-radius:3px;padding:0 20px 20px;}
.widget_news_div .widget_title{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 20px;margin:0 -20px 15px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.widget_news_line{margin:0 0 20px 0;}
.widget_news_date{float:left;padding:4px 15px;border-radius:25px;color:#fff;background:#858c97;margin:0 0 10px 0;}
.widget_news_content{font:600 13px 'Open Sans',serif;}
.widget_news_content a{text-decoration:none;}
.widget_news_content a:hover{text-decoration:underline;}
.widget_news_more a{font:italic 12px 'Open Sans',serif;text-decoration:none;}
.widget_news_more a:hover{text-decoration:underline;}
.widget_reviews_div{background:#fff;border-radius:3px;padding:0 20px 20px;}
.widget_reviews_div .widget_title{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 20px;margin:0 -20px 15px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.widget_reviews_line{margin:0 0 20px 0;}
.widget_reviews_author{float:left;font:600 14px 'Open Sans',serif;margin:0 3px 10px 0;}
.widget_reviews_date{float:left;font:600 14px 'Open Sans',serif;margin:0 0 10px 0;}
.widget_reviews_content{font:italic 14px 'Open Sans',serif;}
.widget_reviews_more a{font:italic 12px 'Open Sans',serif;text-decoration:none;}
.widget_reviews_more a:hover{text-decoration:underline;}
.register_widget, .login_widget, .user_widget{margin:0 0 30px 0;background:#fff;border-radius:3px;padding:20px 30px;}
.register_widget_title, .login_widget_title, .user_widget_title{font:700 14px 'Open Sans',serif;color:#252927;padding:20px 30px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;margin:-20px -30px 15px;}
.widget_reg_label, .widget_log_label{margin:0;padding:0 0 3px;font:600 13px 'Open Sans',serif;color:#252927;}
.widget_reg_line, .widget_log_line{padding:0 0 10px;}
.widget_reg_line_subm input, .widget_log_line_subm input{display:block;margin:0 auto;}
input.widget_reg_input, input.widget_log_input{width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.widget_log_line_text{padding:0 0 15px 0;}
.login_widget_subm_left{float:left;width:49%;font:italic 12px 'Open Sans',serif;}
.login_widget_subm_right{float:right;text-align:right;width:49%;font:italic 12px 'Open Sans',serif;}
.uswidin{margin:0 0 15px 0;font:600 13px 'Open Sans',serif;}
.uswidinleft{float:left;width:50%;}
.uswidinright{float:right;width:50%;text-align:right;}
.user_widget_body ul{margin:0 0 15px 0;}
.user_widget_body ul li{display:block;padding:0 0 5px 0;}
.user_widget_body ul li a{font:italic 13px 'Open Sans',serif;text-decoration:none;}
.user_widget_body ul li a:hover{font:italic 13px 'Open Sans',serif;text-decoration:underline;}
a.exit_link{display:block;border:1px solid #858c97;background:#858c97;border-radius:3px;height:38px;padding:0 25px;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;font:600 13px/38px 'Open Sans', sans-serif;cursor:pointer;text-align:center;text-decoration:none;text-transform:uppercase;}
a.exit_link:hover{background:#686c73;border:1px solid #686c73;text-decoration:none;}
.userverify_widget{margin:0 0 30px 0;background:#fff;padding:0 20px 15px;border-radius:3px;}
.userverify_widget_title{font:700 14px 'Open Sans', serif;color:#252927;margin:0 -20px 15px;padding:15px 20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.account_verify{background:url(/images/no.png) no-repeat 0 2px;padding:0 0 0 25px;font:13px 'Open Sans', serif;color:#f27e66;}
.account_verify.true{color:#6cbd51;background:url(/images/ok.png) no-repeat 0 1px;}
.needverifylink{padding:15px 0 0 0;text-align:center;}
.widget_reserv_div{margin:0 0 30px 0;background:#fff;border-radius:3px;}
.widget_reserv_div_title{font:700 14px 'Open Sans',serif;color:#252927;padding:15px 20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.widget_reserv_line{border-bottom:1px solid #eaeaea;padding:10px 10px 10px 15px;}
.widget_reserv_ico{float:left;width:50px;height:50px;border-radius:4px;border:1px solid #f0f5f3;}
.widget_reserv_block{float:right;width:170px;color:#545454;font:14px 'Open Sans',serif;padding:5px 0 0 0;}
.widget_reserv_title{font:600 14px 'Open Sans',serif;margin:0 0 1px 0;}
.widget_reserv_sum{color:#858c97;}
.pagenavi{padding:0px 0 0 0;margin:0 0 20px 0;color:#545454;text-align:center;font:13px 'Open Sans',serif;}
.pagenavi span, .pagenavi a{margin:0 2px;position:relative;padding:6px 13px;border-radius:3px;}
.pagenavi span{background:#858c97;color:#fff;}
.pagenavi a{text-decoration:none;color:#545454;background:#fff;}
.pagenavi a:hover{color:#545454;text-decoration:none;}
.footer_wrap{background:#252927 url(/images/foot.png);width:100%;min-width:1000px;font:12px 'Open Sans', sans-serif;}
.footer{width:960px;margin:0 auto;padding:40px 0;}
.footer_left{float:left;width:300px;padding:0 50px 0 0;}
.copyright, .footer_timetable{padding:0 0 20px 0;color:#858c97;}
.copyright a, .footer_timetable a{color:#858c97;}
.footer_menu li{float:left;margin:0 15px 0 0;}
.footer_menu li a{color:#fff;font:italic 12px 'Open Sans', sans-serif;text-decoration:none;}
.footer_menu li a:hover{text-decoration:underline;}
.footer_center{float:left;width:350px;}
.footer_center > a{color:#858c97;}
.footer_center img{margin:0 15px 0 0;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;}
.footer_center img:hover{opacity:0.7;}
.footer_right{float:right;width:250px;padding:0 0 0 0;}
.footer_phone{color:#fff;height:27px;background:url(/images/phone.png) no-repeat 0 center;padding:0 0 0 40px;margin:0 0 15px 0;font:600 18px/27px 'Open Sans', sans-serif;}
.footer_phone a{color:#fff;}
#topped{display:none;width:61px;height:61px;background:url(/images/topped.png) no-repeat center center;opacity:0.7;position:fixed;bottom:20px;left:20px;cursor:pointer;z-index:99999;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;}
#topped:hover{background:url(/images/topped.png) no-repeat center center;opacity:1;}
.statuswork_div{position:fixed;z-index:99999;width:42px;height:210px;top:290px;}
.statuswork_div.toleft{left:0px;}
.statuswork_div.toright{right:0px;}
.statuswork_div_ins{position:relative;width:42px;height:210px;}
.statuswork{position:absolute;float:none;top:73px;left:-83px;width:155px;height:42px;padding:5px 0 0 55px;background:#00c063 url(/images/operator.png) no-repeat 15px center;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);color:#fff;font:300 11px 'Open Sans', sans-serif;border-radius:3px 3px 0 0;border-left:2px solid #d3d9d6;}
.statuswork_div.status_op0 .statuswork{background:#79808b url(/images/operator.png) no-repeat 15px center;}
.statuswork_title{font:600 12px 'Open Sans', sans-serif;text-transform:uppercase;}
.resulttrue{padding:14px 20px;border-radius:4px;color:#424a4c;background:#ecf3e2;margin:0 0 10px 0;font:600 13px 'Open Sans', sans-serif;}
.resultfalse, .xtp_error, .xtl_error, .hexch_error, .exch_error, .home_resultfalse{padding:14px 20px;border-radius:4px;color:#424a4c;background:#f8e1e1;margin:0 0 10px 0;font:600 13px 'Open Sans', sans-serif;}
.home_resultfalse{margin:0 0 20px 0;}
#jserror_shad{position:fixed;float:none;top:0;left:0;z-index:999998;width:100%;height:100%;display:none;background:#000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;}
.jserror_wrap{position:fixed;float:none;top:200px;left:0;z-index:999999;width:100%;height:100%;display:none;}
.jserror_box{position:relative;width:360px;margin:0 auto;padding:0px 20px 20px;box-shadow:0 0 10px #000;background:#fff;border-radius:3px;}
.jserror_box_close, .jserror_box_reload{position:absolute;float:none;width:20px;height:20px;cursor:pointer;background:url(/images/close.png) no-repeat center center;top:15px;right:15px;}
.jserror_box_title{font:700 14px 'Open Sans',serif;color:#252927;margin:0 -20px 20px;padding:15px 40px 15px 20px;background:#f0f5f3;text-align:left;border:none;text-transform:uppercase;border-radius:3px 3px 0 0;}
.red, .req{color:#e46066;}
.bred{font-weight:600;color:#ff0000;}
.bgreen{font-weight:600;color:#3ab448;}
.clear{clear:both;}
img.alignnone{display:block;margin:0 0 20px 20px;}
img.alignright{float:right;margin:0 0 1em 1em}
img.alignleft{float:left;margin:0 1em 1em 0}
img.aligncenter{display:block;margin:20px auto;}
a img.alignnone{display:block;margin:0 0 20px 20px;}
a img.alignright{float:right;margin:0 0 1em 1em}
a img.alignleft{float:left;margin:0 1em 1em 0}
a img.aligncenter{display:block;margin:20px auto;}
.checkbtn1{display:block;text-decoration:none;background:#252927;border-radius:3px;height:40px;width:260px;margin:10px auto 20px auto;-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;font:600 14px/40px 'Open Sans', sans-serif;cursor:pointer;text-transform:uppercase;text-align:center;}
.addressdiv{padding:0px 0px 10px 0px;text-align:center;}
.spanaddr{font-weight:600;}
.article-template{}
.article-template img{max-width:100%;height:100%;}
.article-template h2, .article-template h3{font-weight:bold;font:700 14px 'Open Sans',serif;text-transform:uppercase;margin:0 0 10px 0;}
